.topbar-child2 {
  align-self: stretch;
  width: 160rem;
  position: relative;
  background-color: var(--color-steelblue-400);
  display: none;
  max-width: 100%;
}
.aquqairxlogo4 {
  width: 2.313rem;
  height: 2.313rem;
  position: relative;
  border-radius: var(--br-32xl);
  z-index: 1;
}
.aquqairxlogo-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-12xs);
}
.x4 {
  font-size: var(--font-size-3xl);
  font-family: var(--font-kulim-park);
  color: var(--color-steelblue-200);
}
.aquaairx4 {
  position: relative;
  display: inline-block;
  min-width: 5.75rem;
  white-space: nowrap;
  z-index: 1;
}
.aquaairx-wrapper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-7xs);
}
.menu-icon4 {
  height: 2.438rem;
  width: 2.438rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 2.438rem;
  z-index: 1;
}
.frame-group {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.frame-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-9xs);
}
.connection-status-child2 {
  height: 3rem;
  width: 21.875rem;
  position: relative;
  background: linear-gradient(90deg, #004c82, #008b0e 88%);
  display: none;
  max-width: 100%;
}
.disconnected4 {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.47);
  min-width: 6.688rem;
  z-index: 1;
}
.connection-status8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) 0 0;
}
.connection-icon4 {
  height: 2.188rem;
  width: 2.188rem;
  position: relative;
  z-index: 1;
}
.connection-status7,
.topbar4 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  max-width: 100%;
}
.connection-status7 {
  width: 21.875rem;
  background: linear-gradient(90deg, #004c82, #008b0e 88%);
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-6xs) var(--padding-6xs) var(--padding-7xs);
  gap: var(--gap-sm);
  z-index: 1;
  color: var(--color-lime);
  font-family: var(--font-cabin);
}
.topbar4 {
  align-self: stretch;
  background-color: var(--color-steelblue-400);
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 0 0 var(--padding-5xs);
  top: 0;
  z-index: 99;
  position: sticky;
  gap: var(--gap-xl);
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-family: var(--font-kodchasan);
}
.secondary-sidebar-child2 {
  align-self: stretch;
  
  position: relative;
  background-color: var(--color-steelblue-200);
  display: none;
}
.general4 {
  text-decoration: none;
  flex: 1;
  position: relative;
  font-weight: 600;
  color: inherit;
  z-index: 1;
}
.general-heading {
  width: 8.313rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs);
  box-sizing: border-box;
}
.fly-view6,
.setting-icons {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.setting-icons {
  background-color: var(--color-steelblue-200);
  cursor: pointer;
}
.fly-view6 {
  text-decoration: none;
  font-weight: 600;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.fly-view5 {
  align-self: stretch;
  z-index: 1;
}
.fly-view5,
.plan-view-item,
.plan-view6 {
  height: 3rem;
  position: relative;
}
.plan-view-item {
  width: 17.188rem;
  background-color: var(--color-skyblue-100);
  display: none;
}
.plan-view6 {
  flex: 1;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.plan-view5 {
  align-self: stretch;
  background-color: var(--color-skyblue-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
  z-index: 1;
  color: var(--color-steelblue-400);
}
.units-item,
.units6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.units-item {
  background-color: var(--color-steelblue-200);
  cursor: pointer;
}
.units6 {
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.units5 {
  align-self: stretch;
  height: 3rem;
  position: relative;
  z-index: 1;
}
.miscellaneous-item,
.miscellaneous6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.miscellaneous-item {
  background-color: var(--color-steelblue-200);
  cursor: pointer;
}
.miscellaneous6 {
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.miscellaneous5 {
  align-self: stretch;
  height: 3rem;
  position: relative;
  z-index: 1;
}
.logs-item,
.telemetry-logs-from4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.logs-item {
  background-color: var(--color-steelblue-200);
  cursor: pointer;
}
.telemetry-logs-from4 {
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.logs1 {
  align-self: stretch;
  height: 3rem;
  position: relative;
  z-index: 1;
}
.autoconnect-child,
.autoconnect-to-devices4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.autoconnect-child {
  background-color: var(--color-steelblue-200);
  cursor: pointer;
}
.autoconnect-to-devices4 {
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.autoconnect {
  align-self: stretch;
  height: 3rem;
  position: relative;
  z-index: 1;
}
.rtk-gps-item,
.rtk-gps6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.rtk-gps-item {
  background-color: var(--color-steelblue-200);
  cursor: pointer;
}
.rtk-gps6 {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.rtk-gps5 {
  align-self: stretch;
  height: 3rem;
  position: relative;
  z-index: 1;
}
.adsb-server-item,
.adsb-server6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.adsb-server-item {
  background-color: var(--color-steelblue-200);
  cursor: pointer;
}
.adsb-server6 {
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.adsb-server5 {
  align-self: stretch;
  height: 3rem;
  position: relative;
  z-index: 1;
}

.fly-view-parent,
.secondary-sidebar4 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.fly-view-parent {
  align-self: stretch;
  font-size: var(--font-size-lg);
  color: var(--color-white);
}
.secondary-sidebar4 {
  width: 17.188rem;
  background-color: var(--color-steelblue-200);
  padding: var(--padding-3xs) 0 var(--padding-888xl);
  box-sizing: border-box;
  gap: var(--gap-smi);
  z-index: 2;
  height: 124.3vh;
}
.mission-settings,
.mission-settings-child {
  background-color: var(--color-skyblue-100);
  max-width: 100%;
}
.mission-settings-child {
  height: 87rem;
  width: 127.188rem;
  position: relative;
  display: none;
}
.mission-settings {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-71xl) var(--padding-xl);
  box-sizing: border-box;
  min-width: 82.688rem;
  min-height: 87rem;
}
.sidebar,
.site-setting-general-plan-v {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar {
  align-self: stretch;
  flex-direction: row;
  max-width: 100%;
  row-gap: 20px;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-steelblue-400);
  font-family: var(--font-inter);
}
.site-setting-general-plan-v {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 2000px) {
  .mission-settings {
    min-height: auto;
  }
  .sidebar {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1500px) {
  .secondary-sidebar4 {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-571xl);
    box-sizing: border-box;
  }
  .mission-settings {
    min-width: 100%;
    min-height: auto;
  }
  .sidebar {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 975px) {
  .mission-settings,
  .secondary-sidebar4 {
    padding-bottom: var(--padding-364xl);
    box-sizing: border-box;
  }
  .mission-settings {
    padding-top: var(--padding-39xl);
    padding-bottom: var(--padding-39xl);
    min-height: auto;
  }
  .sidebar {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .general4 {
    font-size: var(--font-size-lgi);
  }
  .mission-settings {
    min-height: auto;
  }
  .sidebar {
    flex-wrap: wrap;
  }
}
