@import url("https://fonts.googleapis.com/css2?family=Kodchasan:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kulim+Park:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-inter: Inter;
  --font-cabin: Cabin;
  --font-kulim-park: "Kulim Park";
  --font-kodchasan: Kodchasan;

  /* font sizes */
  --font-size-5xl: 1.5rem;
  --font-size-lgi: 1.188rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-base: 1rem;
  --font-size-3xl: 1.375rem;

  /* Colors */
  --color-white: #fff;
  --color-skyblue-100: #93cff1;
  --color-skyblue-200: rgba(147, 207, 241, 0.5);
  --color-steelblue-100: #65a9e0;
  --color-steelblue-200: #5497d7;
  --color-steelblue-300: #3b7dbd;
  --color-steelblue-400: #004c82;
  --color-gainsboro-100: #d9d9d9;
  --color-gainsboro-200: rgba(217, 217, 217, 0.5);
  --color-dimgray: #737373;
  --color-lime: #00e317;
  --color-black: #000;

  /* Gaps */
  --gap-base: 1rem;
  --gap-xl: 1.25rem;
  --gap-3xs: 0.625rem;
  --gap-34xl: 3.312rem;
  --gap-7xl: 1.625rem;
  --gap-2xs: 0.687rem;
  --gap-11xl: 1.875rem;
  --gap-3xl: 1.375rem;
  --gap-smi: 0.812rem;
  --gap-7xs: 0.375rem;
  --gap-sm: 0.875rem;
  --gap-2xs-8: 0.675rem;
  --gap-12xs: 0.062rem;
  --gap-mini: 0.937rem;
  --gap-4xs: 0.562rem;
  --gap-52xl: 4.437rem;
  --gap-lg: 1.125rem;
  --gap-16xl: 2.187rem;
  --gap-lgi-5: 1.218rem;

  /* Paddings */
  --padding-71xl: 5.625rem;
  --padding-xl: 1.25rem;
  --padding-19xl: 2.375rem;
  --padding-39xl: 3.625rem;
  --padding-429xl: 28rem;
  --padding-431xl: 28.125rem;
  --padding-93xl: 7rem;
  --padding-205xl: 14rem;
  --padding-206xl: 14.062rem;
  --padding-12xs: 0.062rem;
  --padding-18xl: 2.312rem;
  --padding-3xs: 0.625rem;
  --padding-7xs: 0.375rem;
  --padding-888xl: 56.687rem;
  --padding-364xl: 23.937rem;
  --padding-571xl: 36.875rem;
  --padding-8xs: 0.312rem;
  --padding-1080xl: 68.687rem;
  --padding-445xl: 29rem;
  --padding-695xl: 44.625rem;
  --padding-9xs: 0.25rem;
  --padding-5xs: 0.5rem;
  --padding-6xs: 0.437rem;
  --padding-2xl: 1.312rem;
  --padding-2xs: 0.687rem;
  --padding-10xs: 0.187rem;
  --padding-646xl: 41.562rem;
  --padding-147xl: 10.375rem;
  --padding-313xl: 20.75rem;
  --padding-554xl: 35.812rem;
  --padding-556xl: 35.937rem;
  --padding-124xl: 8.937rem;
  --padding-268xl: 17.937rem;
  --padding-267xl: 17.875rem;
  --padding-493xl: 32rem;
  --padding-109xl: 8rem;
  --padding-237xl: 16rem;
  --padding-11xs-5: 0.093rem;
  --padding-base: 1rem;
  --padding-mid: 1.062rem;
  --padding-lg: 1.125rem;
  --padding-11xs: 0.125rem;

  /* Border radiuses */
  --br-11xs: 2px;
  --br-32xl: 51px;
}
